html,body{
  height: 100%;
  width: 100%;
  background-image: url(https://th.bing.com/th/id/R.d5cc9bdf9ccab27f060c4b9fce8647e4?rik=pgdakHAq%2fkc8Fg&riu=http%3a%2f%2f3.bp.blogspot.com%2f-wNg0D-YavHI%2fTilwJp8ztJI%2fAAAAAAAAAcU%2fb5tKBv3S6LM%2fs1600%2fBeautiful--Computer-Wallpapers-For-Desktop.jpg&ehk=QerZHJTLDGbq%2fyfWW0gxqchC3OpWoR%2fFRJg0nz%2fUbWM%3d&risl=&pid=ImgRaw&r=0);
}


